{% extends 'HarvestCloudCoreBundle:Hub:layout.html.twig' %}
{% form_theme form 'HarvestCloudCoreBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Edit Window Maker #{{ windowMaker.id }}</h1>
    <form action="{{ path('Hub_window_maker_update', { 'id' : windowMaker.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="form row">
            <input type="submit" class="submit button" value="Save" />
        </div><!-- .form.row -->
    </form>
{% endblock %}
