{% extends 'HarvestCloudCoreBundle:Hub:layout.html.twig' %}

{% block content %}
    <h1>Regular Hub Opening Times</h1>

    <div>
        <table class="standard week">
            <thead>
                <tr>
                    <th class="time">Start Time</th>
                    <th class="monday day">Mon</th>
                    <th class="tuesday day">Tue</th>
                    <th class="wednesday day">Wed</th>
                    <th class="thursday day">Thu</th>
                    <th class="friday day">Fri</th>
                    <th class="saturday day">Sat</th>
                    <th class="sunday day">Sun</th>
                </tr>
            </thead>
            <tbody>
                {% for hour,days in slots %}
                    <tr>
                        <td>{{ hour }}</td>
                        {% for windowMaker in days %}
                            {% if windowMaker %}
                                <td>
                                    <a href="{{ path('Hub_window_maker_show', { 'id': windowMaker.id }) }}">
                                        {{ windowMaker.id }}</a>
                                </td>
                            {%else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table><!-- .standard.calendar -->
    </div>
    <form action="{{ path('Hub_window_maker_new') }}">
      <div class="form row">
        <input type="submit" class="submit button" value="Add new Window Maker" />
      </div><!-- .form.row -->
    </form>
{% endblock %}
