{% extends 'HarvestCloudCoreBundle:Hub:layout.html.twig' %}

{% block content %}
    <h1>What to start a Hub?</h1>

    <ol>
        <li>Fill in your details</li>
        <li>Take the pledge</li>
        <li>Accept the terms and conditions</li>
        <li>Hit that big ol' button</li>
    </ol>
{% endblock %}{# content #}
