<a class="panel" href="">
    <span class="inner">
        <span class="number">
            <span class="label">Order</span>
            <span class="value">090976</span>
        </span><!-- .number -->
        <span class="details">
            <span class="buyer">
                <span class="label">Buyer</span>
                <span class="value">@tomhv</span>
            </span><!-- .buyer -->
            <span class="hub">
                <span class="label">Hub</span>
                <span class="value">@nickhub</span>
            </span><!-- .hub -->
        </span><!-- .details -->
        <div class="order_total">$50.98</div>
        <span class="clear"></span>
    </span><!-- .inner -->
</a><!-- .panel -->
