/******************************************************************************

containers

******************************************************************************/

div.container
{
    margin-bottom: 2em;
}

/******************************************************************************

panels

******************************************************************************/

.panels .panel
{
    display: block;
    float: left;
    background: #fff;
}
