/******************************************************************************

containers

******************************************************************************/

div.container
{
    margin-bottom: 2em;
}

/******************************************************************************

general

******************************************************************************/

.panel
{
    margin-bottom: 2%;
}

.panel > .inner
{
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}

.panels > .panel
{
    display: block;
    float: left;
    font-weight: normal;
}

.panels > .panel + span.clear_if_needed
{
    display: none;
}

/******************************************************************************

6 columns

******************************************************************************/

@media only screen and (min-width: 801px)
{
    .panels > .panel
    {
        width: 19%;
        margin-left: 1.25%;
        margin-bottom: 1.25%;
    }

    .panels > .panel:nth-of-type(5n+1)
    {
        margin-left: 0;
    }
}

/******************************************************************************

5 columns

******************************************************************************/

@media only screen and (min-width: 701px) and (max-width: 800px)
{
    .panels > .panel
    {
        width: 19%;
        margin-left: 1.25%;
        margin-bottom: 1.25%;
    }

    .panels > .panel:nth-of-type(5n+1)
    {
        margin-left: 0;
    }
}

/******************************************************************************

4 columns

******************************************************************************/

@media only screen and (min-width: 601px) and (max-width: 700px)
{
    .panels > .panel
    {
        width: 23.8%;
        margin-left: 1.6%;
        margin-bottom: 1.6%;
    }

    .panels > .panel:nth-of-type(4n+1)
    {
        margin-left: 0;
    }
}

/******************************************************************************

3 columns

******************************************************************************/

@media only screen and (min-width: 301px) and (max-width: 600px)
{
    .panels > .panel
    {
        width: 32%;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .panels > .panel:nth-of-type(3n+1)
    {
        margin-left: 0;
    }

    .panels > .panel:nth-of-type(3n+0) + span.clear_if_needed
    {
        display: block;
        clear: both;
    }
}

/******************************************************************************

2 columns

******************************************************************************/

@media only screen and (max-width: 300px)
{
    .panels > .panel
    {
        width: 49%;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    .panels > .panel:nth-of-type(2n+1)
    {
        margin-left: 0;
    }
}

.panels > .panel .thumbnail
{
  display: block;
  float: left;
  width: 28%;
  margin: 0;
  padding: 0;
}

.square_panels > .panel .thumbnail
{
    width: 100%;
    margin: 0;
}

.panels > .panel .details
{
  display: block;
  float: left;
  width: 60%;
  margin: 0 2% 0 8%;
}

.panels > .panel .thumbnail img
{
    width: 100%;
    display: block;
}

.panels > .panel .thumbnail .label
{
  padding: 0.3em 0 0.1em 0;
  text-align: center;
}
