/*
 * This file is part of the Harvest Cloud package.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


/******************************************************************************

general

******************************************************************************/

.clear
{
    display: block;
    clear: both;
}

.show_sub_tablet_portrait,
.show_sub_phone_portrait
{
  display: none;
}

body
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: inherit;
}

h1
{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

h1 > img
{
    width: 2em;
    vertical-align: -0.6em;
    margin-right: 0.25em;
}

h2
{
    font-weight: normal;
    font-size: 1.4em;
    color: #555;
    margin: 1em 0 0.7em 0;
}

h3
{
    font-weight: normal;
    font-size: 1.6em;
    color: #555;
    margin: 1em 0 0.7em 0;
}

/******************************************************************************

main containers

******************************************************************************/

#page
{
}

#header,
#content,
#footer
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

@media only screen and (max-width: 480px)
{
    #header,
    #content,
    #footer
    {
        padding-left: 1em;
        padding-right: 1em;
    }
}

#headerWrapper
{
    background: rgba(149,135,112, 0.7);
}

#content
{
    min-height: 40em;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 480px)
{
    #content
    {
        padding-top: 0.5em;
        padding-top: 0.5em;
    }
}

/******************************************************************************

header

******************************************************************************/

#header
{
}

#header div.main_logo
{
    width: 35%;
    float: left;
}

#header div.main_logo a
{
    display: block;
}

body.harvestcloud #header div.main_logo a span
{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}

#header div.main.nav
{
    width: 65%;
    float: right;
}

#header div.main.nav a
{
    display: block;
    padding: 1.3em 0 1em 0;
    float: left;
    text-align: center;
    line-height: 100%;
}

#header div.main.nav a:first-of-type
{
}

#header div.main.nav a.settings
{
    border-radius: 5px;
    max-width: 15%;
    padding: 0.66666666em 0 0.5em 0;
}

body.buy #header div.main.nav a.buy,
body.sell #header div.main.nav a.sell,
body.hub #header div.main.nav a.hub,
body.settings #header div.main.nav a.settings,
body.settings #header div.main.nav a.cart
{
}

#header div.main.nav a
{
    float: right;
    margin-left: 2em;
}

#header div.main.nav a.settings img
{
    width: 10px;
    height: 10px;
}



@media only screen and (max-width: 555px) /* below which logo would break */
{
    #header div.main_logo
    {
        width: 20%;
        max-width: 47px;
    }

    #header div.main.nav
    {
        width: 65%;
    }

    #header div.main.nav a
    {
        padding-top: 1.3em;
        padding-bottom: 1.15em;
        background: none !important;
    }
}

body.buyer_product_show .add_to_cart input[type="text"]
{
    margin: 0;
    padding: 0;
    text-align: center;
    height: 2.357142857em;
}

body.buyer_product_show .add_to_cart input[type="submit"]
{
    margin: 0;
}

/******************************************************************************

form

******************************************************************************/

input[type="submit"]
{
    padding: 0.7em 2em;
    border-radius: 3px;
}

input[type="submit"],
table.week td input[type="submit"]:hover
{
    color: rgba(255,255,255, 1);
    background: rgba(149,135,112, 0.7);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

form[method="get"] input[type="submit"]
{
    cursor: pointer;
}

form[method="post"] input[type="submit"]
{
    background: #8bb4e5;
}

form[method="post"] input[type="submit"][disabled="disabled"]
{
    background: #ccc;
}

input.small.submit.button
{
    padding: 0.5em 0.5em;
    font-size: 1em;
}

select
{
    -webkit-appearance: listbox;
}

select,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="password"]
{
    max-width: 100%;
    padding: 0.3em 0.3em;
}

/******************************************************************************

flash

******************************************************************************/

div.flash div.notice
{
    background: #8bb4e5;
    padding: 1.2em 1em;
    color: #fff;
    font-size: 2em;
}

div.flash div.notice strong.ok
{
    font-size: 2.5em;
    vertical-align: -0.22em;
}

/******************************************************************************

footer

******************************************************************************/

#footer
{
    padding-top: 1em;
}

#footer ul#mainNav
{
    margin: 0;
    padding: 0;
}

#footer ul#mainNav li,
#footer ul#mainNav li ul
{
    list-style: none;
    margin: 2em 0;
    padding: 0;
}

#footer #mainNav > li a
{
    color: inherit;
}

#footer #mainNav li ul li a
{
    text-transform: uppercase;
    color: inherit;
    font-weight: normal;
}

#footer ul#mainNav li h3,
#footer ul#mainNav li ul
{
    margin-left: 10px;
    margin-right: 10px;
}

#footer ul#mainNav > li
{
    float: left;
    width: 19%;
    margin-top: 0;
    margin-right: 1.25%;
}

#footer ul#mainNav > li:nth-of-type(5n+0)
{
    margin-right: 0;
}
